<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/notification.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"
    />
    <link rel="stylesheet" href="" />

    <title>Django Authentication Example</title>
  </head>

  <body>
    <div class="row p-0">
      <div class="col-12">
        {% include "partials/header.html" %}
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          {% block main %} {% endblock %}
        </div>
        <div class="col-4">
          {% block rightbar %} {% endblock %}
        </div>
      </div>
    </div>

    <div class="row p-0">
      <div class="col-12">
        {% include "partials/footer.html" %}
      </div>
    </div>
    {% block scripts %} {% endblock %}
  </body>
</html>
